html, body {
    margin: 0;
    height: 100%;
}

main {
    min-height: 100%;
    margin-bottom: -50px;
    display: flex;
}

.list {
    width: 30%;
}

.list ul li {
    cursor: pointer;
}

.display {
    display: flex;
    flex-direction: column;
    width: 70%;
}


.picture-cat {
    width: 800px;
}

.picture-cat:hover {
    cursor: pointer;
}

footer {
   height: 50px;
   text-align: center;
}